/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */
/* bibber animatie */
.bibber{
  animation-name: bibbers;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  background-color: red;
}

@keyframes bibbers{
  10% {
    transform: scale(1) translateX(.5em);
  }
  15% {
    transform: scale(1) translateX(-.5em) ;
  }
  20% {
    transform: scale(1) translateX(.5em);
  }
 25% {
  transform: scale(1) translateX(-.5em);
  }
 
  100% {
    transform: scale(1) translate(0);
  }
}
/* spin animatie */
.spin{
  animation-name: spin;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}
@keyframes spin{
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    background-color: red;
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
    background-color: blue;
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
    background-color: orange;
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
    background-color: pink;
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
/* float around animatie */
.float{
  animation-name: floataround;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 2.2s;
  animation-iteration-count: 1;
}
@keyframes floataround{
  0% {
    transform: scale(1) translateX(0em) translateY(0em);
  }
 20% {
    transform: scale(1) translateX(.5em) translateY(.5em);
    background-color: red;
  }
  35% {
    transform: scale(1) translateX(.5em) translateY(-.5em);
    background-color: blue;
  }
  50% {
    transform: scale(1) translateX(-.5em) translateY(-.5em);
    background-color: orange;
  }
  80% {
    transform: scale(1) translateX(-.5em) translateY(.5em);
    background-color: pink;
  }
  100% {
    transform: scale(1) translateX(0em) translateY(0em);
  }
}